# Ignore all bin directories bin/
**/bin/

#ignore all obj directories obj/
**/obj/

#ignore all .vscode directory
.vscode

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

API/reactivities.db
API/bin/Debug/netcoreapp3.1/API.deps.json
API/bin/Debug/netcoreapp3.1/Domain.dll
API/bin/Debug/netcoreapp3.1/Domain.pdb
API/bin/Debug/netcoreapp3.1/Persistence.dll
API/bin/Debug/netcoreapp3.1/Persistence.pdb
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.targets
API/obj/project.assets.json
API/obj/project.nuget.cache
Application/bin/Debug/netcoreapp3.1/Application.deps.json
Application/bin/Debug/netcoreapp3.1/Application.dll
Application/bin/Debug/netcoreapp3.1/Domain.dll
Application/bin/Debug/netcoreapp3.1/Domain.pdb
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/project.assets.json
Application/obj/project.nuget.cache
Domain/bin/Debug/netcoreapp3.1/Domain.deps.json
Domain/bin/Debug/netcoreapp3.1/Domain.dll
Domain/bin/Debug/netcoreapp3.1/Domain.pdb
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/project.assets.json
Persistence/bin/Debug/netcoreapp3.1/Domain.dll
Persistence/bin/Debug/netcoreapp3.1/Domain.pdb
Persistence/obj/Persistence.csproj.nuget.dgspec.json
Persistence/obj/project.assets.json
Persistence/obj/project.nuget.cache
